<?php
$config = [
    'merchant_id' => [
        'host'        => 'http://example.loc',
        'result_uri'  => '/result/',
        'success_uri' => '/success/',
        'fail_uri'    => '/fail/',
        'pass1'       => 'pass1',
        'pass2'       => 'pass2',
        'http_auth'   => [
            'username' => 'username',
            'password' => 'password',
        ],
    ],

    'project_name' => [
        'host'        => 'http://project_name.loc/app_dev.php',
        'result_uri'  => '/payments/robokassa/result/',
        'success_uri' => '/payments/robokassa/success/',
        'fail_uri'    => '/payments/robokassa/fail/',
        'pass1'       => 'pass1',
        'pass2'       => 'pass2',
    ],
];
